.dashboard {
  margin-top: 56px;
  background-color: rgba(133, 155, 177, 0.603);
  min-height: calc(100vh);

  .filmDisplay {
    padding-top: 0.5rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    img {
      height: 350px;
      object-fit: cover;
      object-position: top;
    }
  }

  .filter {
    display: flex;
    justify-content: flex-end;
    font-size: 32px;
    min-height: 5vh;

    input {
      margin-left: 10px;
    }
  }

  .cardContainer {
    box-shadow: 0 4px 7px rgba(0, 0, 0, 0.2), 0 4px 7px rgba(0, 0, 0, 0.27);
    margin: 0.5rem;

    &:hover {
      transition: all 0.1s;
      box-shadow: 0 14px 28px rgba(0, 0, 0, 0.27),
        0 10px 10px rgba(0, 0, 0, 0.3);
    }
  }

  .noResults {
    padding: 10%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    height: calc(100vh - 60px);

    h3 {
      font-size: 40px;
    }

    p {
      width: 60%;
      font-size: 26px;
      min-width: 300px;
    }
  }
}

.fadeInBck {
  -webkit-animation: fadeInBck 0.5s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: fadeInBck 0.5s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@-webkit-keyframes fadeInBck {
  0% {
    -webkit-transform: translateZ(80px);
    transform: translateZ(80px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}

@keyframes fadeInBck {
  0% {
    -webkit-transform: translateZ(80px);
    transform: translateZ(80px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}
