.dashboard {
  margin-top: 56px;
  background-color: rgba(133, 155, 177, 0.603);
  min-height: calc(100vh);
}

.filmDisplay {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;

  img {
    height: 350px;
    object-fit: cover;
    object-position: top;
  }
}

.filter {
  display: flex;
  justify-content: flex-end;
  font-size: 32px;
  min-height: 5vh;

  input {
    margin-left: 10px;
  }
}

.noResults {
  padding: 10%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  height: calc(100vh - 60px);

  h3 {
    font-size: 40px;
  }

  p {
    width: 60%;
    font-size: 26px;
    min-width: 300px;
  }
}
